@use "./base/reset";
@use "./base/extends";
@use "./base/variables" as *;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./icons/icons";


body{
    background-color: $bodybg;
}

main{
    width: 90%;
    margin: 0 auto;
    max-width: 550px;
    margin-top: 20px;
}



.form{  
    background-color: $green;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    &__input {
        height: 65px;
        background-color: $lightgreen;
        border-width: 0px;
        border-radius: 7px 0 0 7px;;
        outline: none;
        padding-left: 25px;
        padding-right: 57.5px;
        @include font;
        width: calc(100% - 32.5px);
        &::placeholder{
            @include font;
        }
    }
    &__submit{
        position: absolute;
        right: 20px;
        top: 20px;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background: $white;
        border-width: 0;
        border: 1px solid $greenborder;
        cursor: pointer;
        &:before{
            content: "\e000";
            font-family: 'icons';
            font-size: 28px;
            color: $lightgreen;
        }
    }
    &--error {
        .form__input {
          background-color: $red;
        }
        .form__submit {
          cursor: not-allowed;
        }
        .form__submit:before {
          color: $red;
        }
      }
}

.list{
    padding: 0px 18px;
    &__item{
        border-radius: 7px;
        background-color: $white;
        margin-bottom: 12px;
        padding: 13px 18px;
        display: flex;
        gap: 33px;
        align-items: center;
        &__text{
            margin-right: auto;
            @include font(18px, 21px, $black)
        }
        &__button{
            font-size: 32px;
            color: $green;
            position: relative;
            border: none;
            cursor: pointer;
            background-color: transparent;
            opacity: 0.65;
            transform: opacity 300ms; 
            &:after {
                //content: "\e001";
                font-family: icons;
            }
            &:hover {
                opacity: 1;
            }
            &--remove {
                &:after{
                    content: "\e001";
                }
            }
            &--check{
                &:after{
                    content: "\e002";
                }
            }
            position: relative;
            &:not(:last-child):before{
                content: "";
                position: absolute;
                left: 60px;
                height: 40px;
                top: 0;
                width: 1px;
                background-color: $grey;
            }    
        }
        &--checked{
            .list__item__text{
                text-decoration: line-through;
            }
            .list__item__button--check:after{
                content: "\e003";
            }
        }
    }
}